[Desktop Entry]
Encoding=UTF-8
Name=silk
Comment=silk P2P Cryptocurrency
Comment[fr]=silk, monnaie virtuelle cryptographique pair à pair
Comment[tr]=silk, eşten eşe kriptografik sanal para birimi
Exec=silk-qt %u
Terminal=false
Type=Application
Icon=silk128
MimeType=x-scheme-handler/silk;
Categories=Office;Finance;
