[Desktop Entry]
Encoding=UTF-8
Name=Silk
Comment=Silk P2P Cryptocurrency
Exec=/usr/bin/silk-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/silk;
Categories=Office;
Name[en_US]=silk-qt.desktop.desktop.desktop.desktop
