*.dll
*.exe
*.tar.gz
*.suo
*.idb
*.pdb
*.user
*.tlog
*.pch
*.mdp
*.ncb
*.clw
*.obj 
*.aps
*.cpl
*.awk
*.exp
*.lib
*.opt
*.map
*.res
*.ilk
*.scc
*.bsc
*.sbr
*.tlb
*.sdf

msvc/packages
msvc/leveldb/Win32
msvc/libcommon/Win32
msvc/silkd/Win32
msvc/silk-qt/Win32

src/qt/*.moc
